

<div id="mySidenav" class="sidenav" style="opacity:0.8;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a routerLink="/home/inicio" routerLinkActive="active">INICIO</a>
    <li>
      <a>COMIDA</a>
      <ul>
        <li>
          <a routerLink="/home/desayuno" routerLinkActive="active">DESAYUNO</a>
        </li>  
        <li>
          <a routerLink="/home/almuerzo" routerLinkActive="active" >ALMUERZO</a>
        </li>
        <li>
            <a routerLink="/home/postre" routerLinkActive="active">POSTRES</a>
          </li>
      
      </ul>
    </li>   
    <a routerLink="/home/delivery" routerLinkActive="active">DELIVERY</a>
    <a >ACERCA DE NOSOTROS</a>
    <a routerLink="/home/contactanos" routerLinkActive="active">CONTACTANOS</a>
  </div>

  <div  id="main">
      <nav class="navbar navbar-expand-sm  navbar-primary" style="background-color: #e6e6e6">
          <!-- Brand -->
         
        
          <!-- Links -->
          <ul class="navbar-nav  mr-auto">
              <span style="font-size:30px; cursor:pointer; color:#610b0b;" onclick="openNav()">&#9776; uMakeIT!<img src="assets/Img/logo.png" style="width:100px;"></span>
              
          </ul>

          <ul class="navbar-nav ">
            <li class="col-sm-1"></li>
             <!-- Dropdown -->
             <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="color:black;">
                Nombre de usuario
                </a>
                <div class="dropdown-menu">
              
                  <a  routerLink="/home/CambioClave" routerLinkActive="active" class="dropdown-item" >Cambio de clave</a>
                  <a  routerLink="/home/historial" routerLinkActive="active" class="dropdown-item" >Historial de compra</a>
                  <a routerLink="/home/compras" routerLinkActive="active" class="dropdown-item" >Compras</a>
                  <a  routerLink="/login" routerLinkActive="active"class="dropdown-item" >salir </a>

                </div>
              </li>
          </ul>
        
        </nav>
        <br><br>
        
        <div class="col-sm-9" >
          
          <router-outlet></router-outlet>
        </div>
          
  </div>
