<div class="container">
    <div class="card" style="background-color:black;  left: 15%; opacity: 0.95;">
      <h3 style="color: white; text-align: center;">LOS POSTRES DEL MOMENTO : </h3>
      <button onclick="document.getElementById('id02').style.display='block'" class="btn btn" style="background-color:#610b0b; color:white;">Agregar
        Nuevo</button>
    </div><br>
 
 

    <div class="row">
      
        <div class="col-sm-4"*ngFor="let comida of comidasFiltradas" style="left:15%;">
           <div *ngIf = "comida.tipo == 'desayuno' ">
         
          <div class="card" style="max-width: auto;  background-color: black; opacity: 0.95; border-radius: 10%;">
           <div class="card-body">
          
              <h5 class="card-title" style="color: white;">{{comida.nombre}}</h5>
              <hr>
              <img src="{{comida.imagen}}">
              <hr>
              <div class="w3-container" >
                <button class="w3-button" style="background-color:#610b0b; color:white;"> Comprar </button>
                <br><br>
                <button class="w3-button" style="background-color:#610b0b; color:white;"> Eliminar </button>
            </div>
          </div>
        </div>
       </div>
      </div>
  
 
  
  </div>
