<div class="container">
  <div class="card" style=" background-color: black; opacity: 0.95;  left: 15%;">
    <h3 style="color: black; text-align: center;">BUSQUEDA : </h3>
    <div class="topnav">
      <div class="search-container" style="margin-top:90px">
        <form action="/action_page.php">
          <input type="text" [(ngModel)]="termBusqueda" (keydown)="search($event)" placeholder="Buscar.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>

        </form>
      </div>
    </div>

  </div>
</div>

<hr class="hr"><br>
<div class="row">

  <div class="col-sm-4" *ngFor="let comida of comidas" style="left:15%;">
    <div class="card" style="max-width: auto; background-color: white; opacity: 1;">
      <div class="card-body">

        <h5 class="card-title" style="color: black;">{{comida.nombre}}</h5>
        <hr class="hr">
        <img src="{{comida.imagen}}" style="width:40%;">

        <hr>
        <div class="w3-container">
          <button class="w3-button" style="background-color:#610b0b; color:white;"> Comprar </button>
          <br><br>
        </div>
      </div>
    </div>
    <div *ngIf="comidas?.length < 1">
        <h3>Lo sentimos, comida no encontrada</h3>
      </div>

  </div>




 