<div class="container" style="position:relative;">
    <div class="card" style="background-color:white; position: relative; left: 15%;">
        <h3 style="color: black; text-align: center;">LOS DESAYUNOS DEL MOMENTO : </h3>
    </div><br>
   
  
      <div class="row">
        <div class="col-sm-4"*ngFor="let desayuno of Desayunos">
          <div class="card" style="max-width: auto; background-color: white; opacity: 1;">
            <div class="card-body" >
              <h5 class="card-title" style="color: black;">{{desayuno.nombre}}</h5>
              <hr>
              <img src="assets/Img/Img Cards/{{desayuno.imagen}}.jpg">
              <hr>
              <div class="w3-container">
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button" style="background-color:#610b0b; color:white;" >Informate</button>
                <br><br>
                <button class="w3-button" style="background-color:#610b0b; color:white;"> Comprar </button>
                <br><br>
              <button class="w3-button" style="background-color:#610b0b; color:white;"> Eliminar </button>
                <div id="id01" class="w3-modal fle" style="max-width: auto">
                  <div class="w3-modal-content w3-animate-zoom">
                    <header class="w3-container w3-teal">
                      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                      <h2>Ingredientes</h2>
                    </header>
                    <div class="w3-container" >
                     <p style="color: black;" >ingredientes</p>
                    
                    </div>
                    <footer class="w3-container">
                      <p style="color: black;">Aratxo</p>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>