<div id="contenedor">

  <ul>
    <li><img src="assets/Img/14.jpg"  ></li>
    <li><img src="assets/Img/15.jpg" ></li>
    <li><img src="assets/Img/16.jpg" ></li>
  </ul>

  <div class="slider-container card" style="background-color:black; opacity:0.8; width:30%; left: 35%; border-radius: 5%;" >
  	<div class="slider-title">
  		<h1 style="color: white;position: relative; left: 30%;">INICIAR SESION</h1><hr><br>
  		
  	</div>
  	<form action="" class="slider-form" style=" position:relative; left: 14%; ">
      <div class="form-group">
        <label style="color: white;  ">Usuario: <br> 
          <input  style="width: 300px;"id="email2" type="text" name="" placeholder="Nombre de usuario" class="form-control" requierd>
        </label>
  		</div>

  		<div class="form-group">
        <label style="color: white; "> Contrasena: <br>
          <input  style="width: 300px;  " id="password2" type="password" name="" placeholder="Ingrese su contrasena" class="form-control" AutoSize="true" required>
        </label>
  		</div><br>

  		<label style="color: white;">
        <input type="checkbox" checked="checked" name="remember" style="left: 30%;"> Remember me
      </label>
	
	<div class="botones">
		<button type="button" class="btn btn-primary" style="position:relative; left: 1%;" id="Iniciar"(click)="LoginEmPw()" >Iniciar Sesion</button>
    <button type="button" class="btn btn-primary" style="position:relative; left: 8%;" id="Registrate" onclick="document.getElementById('M').style.display='block'">Registrate</button>
    <button type="button" class="btn btn-social btn-google" id="Google" (click)="Googlelogin()" >Google</button>
  </div><br>
    </form>
    
   
    
  	<div id="M" class="modal" style="widows: 10%;">
  
      <form class="modal-content animate" >
      <div class="imgcontainer">
      <span onclick="document.getElementById('M').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="assets/Img/logo.png" alt="Avatar" class="avatar">
      </div>
      

      <div class="container">

      	<div>
      		<h1>Registrarse</h1>
      		<p>Por favor rellenar todos los campos </p>
      	</div><br>
      <label for="uname"><b>Nombre de Usuario</b></label>
      <input type="text" placeholder="Nombre de Usuario" name="usuario" id="usuario" required><br>

      <label for="Email"><b>Email</b></label><br>
      <input type="text" placeholder="Ingrese su email" name="email" id="email" required><br>

      <label for="psw"><b>Contrasena</b></label><br>
      <input type="password" placeholder="Ingrese contrasena" name="contra" id="password" required><br>

      <label for="psw"><b>Repita la Contrasena</b></label><br>
      <input type="password" placeholder="Repita la contrasena" name="Rcontra" id="Rcontra" required><br>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label><br>
      <button type="submit"(click)="CrearUser()">Crear cuenta</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('M').style.display='none'" class="cancelbtn">Cancel</button>
  
    </div>
    </form>
  </div>
  	
  </div>

  
</div>


<script>
firebase.auth().createUserWithEmailAndPassword(email,password).then(credentials =>{
  //Significa que lo creo bien
  //Llamar servicio usuario y crearlo 
})
 firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode == 'auth/weak-password') {
          alert('The password is too weak.');
        } else {
          alert(errorMessage);
        }
        console.log(error);
        // [END_EXCLUDE]
      });
      // [
</script>



<script>
// Get the modal
var modal = document.getElementById('M');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

