<div id="contenedor">

  <ul>
    <li><img src="assets/Img/hamburguesa.jpg"  ></li>
    <li><img src="assets/Img/2.jpg" ></li>
    <li><img src="assets/Img/1.jpg" ></li>
  </ul>

  <div class="slider-container card" style="background-color:black; opacity:0.8;" >
  	<div class="slider-title">
  		<h1 style="color: white; text-align: center;">INICIAR SESION</h1><hr><br>
  		
  	</div>
  	<form action="" class="slider-form">
  		<div class="form-group">
  			<label style="color: white;" >Usuario:<input type="text" name="" placeholder="Nombre de usuario" class="form-control" requierd></label>
  		</div>

  		<div class="form-group">
  			<label style="color: white; ;">Contrasena:<input type="password" name="" placeholder="Ingrese su contrasena" class="form-control" AutoSize="true" required></label>
  		</div>

  		<label style="color: white;">
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
	
	
	<div class="botones">
		<button type="button" class="btn btn-primary" id="Iniciar" routerLink="/home" routerLinkActive="active">Iniciar Sesion</button>
    <button type="button" class="btn btn-primary" style="position:relative; left: 10%;" id="Registrate" onclick="document.getElementById('M').style.display='block'">Registrate</button>
	</div>
  	</form>

  	<div id="M" class="modal">
  
      <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
      <span onclick="document.getElementById('M').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="assets/Img/logo.png" alt="Avatar" class="avatar">
      </div>


      <div class="container">

      	<div>
      		<h1>Registrarse</h1>
      		<p>Por favor rellenar todos los campos </p>
      	</div><br>
      <label for="uname"><b>Nombre de Usuario</b></label>
      <input type="text" placeholder="Nombre de Usuario" name="usuario" required><br>

      <label for="Email"><b>Email</b></label><br>
      <input type="text" placeholder="Ingrese su email" name="email" required><br>

      <label for="psw"><b>Contrasena</b></label><br>
      <input type="password" placeholder="Ingrese contrasena" name="contra" required><br>

      <label for="psw"><b>Repita la Contrasena</b></label><br>
      <input type="password" placeholder="Repita la contrasena" name="Rcontra" required><br>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label><br>
      <button type="submit">Crear cuenta</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('M').style.display='none'" class="cancelbtn">Cancel</button>
  
    </div>
    </form>
  </div>
  	
  </div>

  
</div>

<script>
// Get the modal
var modal = document.getElementById('M');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>