
<div class="container" style="position: absolute; top: 30%; left: 18%;" >
    <div class="card-body" style="background-color: #e6e6e6; opacity: 0.96;  ">
      <h5 class="card-title" style=" text-align: center; color: black;">CONTACTANOS</h5>
      <h6 style=" text-align: center; color: black;">TU OPINION NOS IMPORTA</h6>

      <hr>
  
        <form action="" class="slider-form" AutoSize="true">
            <div class="form-group">
                <label for="demo">Escriba su email aqui:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Email" id="demo" name="email">
                  <div class="input-group-append">
                    <span class="input-group-text">@example.com</span>
                  </div>
                </div>
            </div>
        
            <div class="form-group">
                <div class="form-group">
                    <label for="usr">Nombre:</label>
                    <input type="text" class="form-control" placeholder="Ingrese su nombre" id="usr">
                  </div>
            </div>
        
            <div class="form-group">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
              </div>
        
            </form><hr>
        
        <div class="container" >
          <button  class="w3-button" style="position:relative; left: 40%; background-color:#610b0b; color:white; ">Enviar</button>
        
        </div>
    
    </div>
     
  </div>
  
  