<div>
   
    <h1 style="text-align:center;"> Compras realizadas

  </h1>
  </div>
  <br>
    <div>
    <input class="form-control" id="myInput" type="text" placeholder="Search.."> <button type="button" class="btn btn-outline-primary">Agregar</button>
    </div>
    <br>
      
    
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Orden</th>
      
          <th>Precio</th>
          <th>Comprar</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td><img src="assets/Img/hamburguesa.jpg" alt="hamburguesa" width="100%" height="auto"></td>
          <td>14$</td>
          
          <td>
             <div><button type="button" class="btn btn-outline-primary">Editar</button>
             </div>
             <br>

             <div>
            <button type="button" class="btn btn-outline-primary">Eliminar</button>
             </div>
          </td>
        </tr>      
      </tbody>
    </table>