<div class="card">
    <div class="card-header" style="text-align:center;">COMPRAS REALIZADAS EN EL DIA</div>
 
    <div class="card-body">
        <p class="mb-0">
            Las compras realizadas se puede modificar y eliminar al gusto.
        </p>
    </div><hr>
 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>FECHA</th>
                <th>EDITAR</th>
            </tr>
        </thead>
 
        <tbody>
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>20$</td>
                <td>14/10/2018</td>
                <td><button class="w3-button" style="background-color:#610b0b; color: white;">EDITAR</button> <br><br> <button class="w3-button" style="background-color:#610b0b; color: white;">ELIMINAR</button></td>
            </tr>
 
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>20$</td>
                <td>14/10/2018</td>
                <td><button class="w3-button" style="background-color:#610b0b; color: white;">EDITAR</button> <br><br> <button class="w3-button" style="background-color:#610b0b; color: white;">ELIMINAR</button></td>
            </tr>
 
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>20$</td>
                <td>14/10/2018</td>
                <td><button class="w3-button" style="background-color:#610b0b; color: white;">EDITAR</button> <br><br> <button class="w3-button" style="background-color:#610b0b; color: white;">ELIMINAR</button></td>
            </tr>
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>20$</td>
                <td>14/10/2018</td>
                <td><button class="w3-button" style="background-color:#610b0b; color: white;">EDITAR</button> <br><br> <button class="w3-button" style="background-color:#610b0b; color: white;">ELIMINAR</button></td>
            </tr>
           
        </tbody>
    </table>
 
    <div class="card-footer">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="UXDCGWZ8DG4MU">
                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
                
    </div>
</div>