
<div class="contenedor" > 
    <div class="card" style="background-color: #610b0b; opacity: 0.9;" >
        <h1 style="font-size:60px; text-align: center; color: white">TU COMIDA FAVORITA A UN CLICK</h1>
        <br>
        <h1 style="text-align: center; color: aliceblue">SUSHI,PIZZA,HAMBURGUESAS Y MUCHO MAS...</h1>
    </div>  
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Img/4.jpg" alt="Los Angeles" width="1100" height="300">
          <div class="carousel-caption">
                <h1 >BIENVENIDO</h1>
                <p >PARA NOSOTROS, TU OPINIÓN ES LO MÁS IMPORTANTE. ES POR ELLO QUE TE TRAEMOS OFERTAS INIGUALABLES EN TUS COMIDAS FAVORITAS</p>
              </div>   
        </div>
        <div class="carousel-item">
          <img src="assets/Img/comida-3.jpg" alt="Chicago" width="1100" height="300">
          <div class="carousel-caption">
                <h1>EN UMakeIT!
                </h1>
                <p>TE PREMIAMOS POR PREFERIRNOS Y POR SER TU PRIMERA ELECCION EN COMIDA</p>
              </div>   
        </div>
        <div class="carousel-item">
          <img src="assets/Img/20.jpg" alt="New York" width="1100" height="300">
          <div class="carousel-caption">
                <h1>ES POR ELLO
                </h1>
                <p>QUE TODOS LOS VIERNES TENEMOS LAS MEJORES PROMOCIONES QUE SE ADAPTAN A TUS GUSTOS Y A TUS GASTOS</p>
              </div>  
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    