<div class="container">
  <div class="card" style="background-color:black;  left: 15%; opacity: 0.7;">
    <h3 style="color: white; text-align: center; opacity: 1;">LOS ALMUERZOS DEL MOMENTO : </h3>
    <button onclick="document.getElementById('id02').style.display='block'" class="btn btn" style="background-color:#610b0b; color:white;" *ngIf="isAdmin">Agregar
      Nuevo</button>
  </div><br>

  <!--Comienzo de intento de form builder-->

  <div id="id02" class="w3-modal fle" style="max-width: auto">
    <div class="w3-modal-content w3-animate-zoom">
      <header class="w3-container" style="background-color:black;">
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h2 style="color: white;">AGREGAR PLATO </h2>
      </header>

      <div class="w3-container">
        <form [formGroup]="comidaForm">
          <label>Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" name="nombre">
          <label>Descripcion</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion" name="descripcion">
          <label>Tipo</label>
          <input type="text" class="form-control" id="tipo" formControlName="tipo" name="tipo">
          <label>Precio</label>
          <input type="text" class="form-control" id="price" formControlName="precio" name="precio">
          <label>Imagen</label>
          <input type="text" class="form-control" id="image" formControlName="imagen" name="imagen">
          <br>
          <button (click)="addComida()" type="Submit" class="button-primary" [disabled]="!comidaForm.valid"> Submit</button>
        </form>


      </div>

    </div>
  </div>

  <!---Fin de intento de form builder-->

  <div class="row">

    <div class="col-sm-4" *ngFor="let comida of comidasFiltradas" style="left:15%;">
      <div *ngIf="comida.tipo == 'almuerzo' ">

        <div class="card" style="max-width:auto; background-color: black; opacity: 0.7; border-radius: 10%;">
          <div class="card-body">
            <h5 class="card-title" style="color: white;">{{comida.nombre}}</h5>
            <hr>
            <img src="{{comida.imagen}}" style="width:70%;" class="card-img-top" alt="Card image">
            <hr>
            <div class="w3-container">
              <button class="w3-button"> Comprar </button>
              <br><br>
              <button class="w3-button"  (click)="EliminarPlato(comida)">
                Eliminar</button>
              <button class="w3-button" (click)="editComida(comida)"*ngIf="isAdmin" >
                Modificar</button>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>