<div class="container">
  <div class="card" style="background-color:white;  left: 15%;">
    <h3 style="color: black; text-align: center;">LOS ALMUERZOS DEL MOMENTO : </h3>
    <button onclick="document.getElementById('id02').style.display='block'" class="w3-button" style="background-color:#610b0b; color:white;">Agregar
      Nuevo</button>


  </div><br>
  <!--Comienzo de intento de form builder-->
 
  <div id="id02" class="w3-modal fle" style="max-width: auto">
    <div class="w3-modal-content w3-animate-zoom">
      <header class="w3-container" style="background-color:black;">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h2 style="color: white;">AGREGAR PLATO </h2>
      </header>
      <div class="w3-container">
        <form [formGroup]="comidaForm">
          <label>Nombre</label>
          <input type="text" class="form-control" id="nombre"   formControlName = "nombre"  name="nombre"> 
          <label>Descripcion</label>
          <input type="text" class="form-control" id="descripcion"  formControlName = "descripcion" name="descripcion">
          <label>Tipo</label>
          <input type="text" class="form-control" id="tipo"  formControlName = "tipo" name="tipo">
          <label>Precio</label>
          <input type="text" class="form-control" id="price"  formControlName = "price" name="price">
          <label>Imagen</label>
          <br>
          <input class="file-input" type="file"  formControlName = "imagen" name="imagen" (change)="uploadFile($event)">
          <br>
          <div *ngIf="uploadPercent | async as pct">
            <progress 
                  [value]="pct" 
                  max="100">        
            </progress>
              {{ pct | number }}%           
            </div>	
          <br>
          <button (click)="addComida()" type="Submit" class="button-primary" [disabled]="!comidaForm.valid || !urlReady" > Submit</button>
        </form>


      </div>
      
    </div>
  </div>

  <!---Fin de intento de form builder-->

  <div class="row">

    <div class="col-sm-4" *ngFor="let comida of comidasFiltradas" style="left:15%;">
      <div *ngIf="comida.tipo == 'almuerzo' ">

        <div class="card" style="max-width: auto; background-color: white; opacity: 1;">
          <div class="card-body">

            <h5 class="card-title" style="color: black;">{{comida.nombre}}</h5>
            <hr>
            <img src="{{comida.imagen}}">
            <hr>
            <div class="w3-container">
              <button onclick="document.getElementById('id01').style.display='block'" class="w3-button" style="background-color:#610b0b; color:white;">Informate</button>
              <br><br>
              <button class="w3-button" style="background-color:#610b0b; color:white;"> Comprar </button>
              <br><br>
              <button class="w3-button" style="background-color:#610b0b; color:white;"> Eliminar </button>
              <br><br>

              <div id="id01" class="w3-modal fle" style="max-width: auto">
                <div class="w3-modal-content w3-animate-zoom">
                  <header class="w3-container" style="background-color:black;">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2 style="color: white;">INFORMACION SOBRE EL PLATO </h2>
                  </header>
                  <div class="w3-container">
                    <p style="color: black;">{{comida.precio}}</p>


                  </div>
                  <footer class="w3-container">
                    <p style="color: black;">Aratxo</p>
                  </footer>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>