<div class="container">
  <div class="card" style="background-color:white;">
      <h3 style="color: #610b0b; text-align: center;">LOS ALMUERZOS DEL MOMENTO : </h3>
  </div><hr>
 

    <div class="row">
      <div class="col-sm-4"*ngFor="let comida of Comidas">
        <div class="card" style="max-width: auto; background-color: white; opacity: 1;">
          <div class="card-body" >
            <h5 class="card-title" style="color: #610b0b;">{{comida.nombre}}</h5>
            <hr>
            <img src="assets/Img/Img Cards/{{comida.imagen}}.jpg">
            <hr>
            <div class="w3-container">
              <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-blue" >Informate</button>
              <hr>
              <button class="w3-button w3-blue"> Comprar </button>
              <div id="id01" class="w3-modal fle" style="max-width: auto">
                <div class="w3-modal-content w3-animate-zoom">
                  <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Ingredientes</h2>
                  </header>
                  <div class="w3-container" >
                   <p style="color: black;" >ingredientes</p>
                  
                  </div>
                  <footer class="w3-container">
                    <p style="color: black;">Aratxo</p>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  <!-- 
       <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">PABELLON</h5>
            <hr>
              <img src="assets/Img/Img Cards/pabellon.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div>
  
  <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">PARRILLA</h5>
            <hr>
              <img src="assets/Img/Img Cards/parrilla.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div>
      
  
  
    <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">PASTA</h5>
            <hr>
              <img src="assets/Img/Img Cards/Pasta.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div>
  
  </div><br><br>
  
  <div class="row">
  
      <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">SOPA</h5>
            <hr>
              <img src="assets/Img/Img Cards/sopa.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">PIZZA</h5>
            <hr>
              <img src="assets/Img/Img Cards/pizza.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div> 
  
      <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">SUSHI</h5>
            <hr>
              <img src="assets/Img/Img Cards/sushi.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="card bg-secondary text-white" style="max-width: auto;">
          <div class="card-body">
            <h5 class="card-title">PAELLA</h5>
            <hr>
              <img src="assets/Img/Img Cards/paella.jpg" >
              <hr>
  
              <a href="#" class="btn btn-primary">Informate</a>
              <a href="#" class="btn btn-primary">Comprar</a>
           
          </div>
        </div>
      </div>
      
    </div><br>


   -->
 
  
  </div>
