

<div class="container" style="position: absolute; top: 30%; left: 18%;" >
  <div class="card-body" style="background-color: #e6e6e6; opacity: 0.9;  ">
    <h6 class="card-title" style=" text-align: center; color: black;">CAMBIO DE CONTRASENA</h6>
    <hr>

    <div class="w3-container" >
      <form [formGroup]="usuarioForm">
        <label >Ingrese su contraseña</label>
        <input type="password" class="form-control" id="password"   formControlName = "password"  name="password"> 
        <label>Ingrese su nueva contraseña</label>
        <input type="password" class="form-control" id="password2"  formControlName = "password2" name="password2">
        <label>Repita su nueva contraseña</label>
        <input type="password" class="form-control" id="password3"  formControlName = "password3" name="password3">
        
        <br>
      </form>
      <button [disabled]="usuarioForm.value.password2!=usuarioForm.value.password3 || !usuarioForm.valid" class="w3-button" style="position:relative; left: 40%; background-color:#610b0b; color:white;" data-toggle="modal" data-target="#Modal" (click)="CambiarContrasena()">Guardar Cambios</button>


    </div>
     
      
    
      
    
  
  </div>
   
</div>

<div class="modal" id="Modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">UmaketIT!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        La contraseña se ha cambiado sastifactoriamente
      </div>
         <!-- Modal footer -->
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetform()">Close</button>
        </div>
      </div>

    
  
  </div>
   
</div>






