

<div class="col-sm-9" >
  <div class="card-body" style="background-color: white; align-content: flex-end;">
    <h6 class="card-title">CAMBIO DE CONTRASENA</h6>
    <hr>

      <form action="" class="slider-form" AutoSize="true">
          <div class="form-group">
            <label style="color:black;" >Ingrese su contreseña anterior:<input type="password" name="" placeholder="Ingrese su contrasena vieja" class="form-control" requierd></label>
          </div><hr>
      
          <div class="form-group">
            <label style="color: black;">Ingresa su nueva contraseña:<input type="password" name="" placeholder="Ingrese su contrasena nueva" class="form-control" AutoSize="true" required></label>
          </div><hr>
      
          <div class="form-group">
              <label style="color: black;">Repita su nueva contraseña:<input type="password" name="" placeholder="Ingrese su contrasena nueva" class="form-control" AutoSize="true" required></label>
            </div><hr>
      
          </form>
      
      <div class="container" >
        <button  class="w3-button w3-red">Guardar Cambios</button>
      
      </div>
  
  </div>
   
</div>






