/* You can add global styles to this file, and also import other style files */
body{
  
    background-color: black;
   
    background-image: url("assets/Img/pizza1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}