/* You can add global styles to this file, and also import other style files */
body{
  
    background-color: black;
   
    background-image: url("https://firebasestorage.googleapis.com/v0/b/umakeit-3b4e1.appspot.com/o/imagenes%2F103414.jpg?alt=media&token=9aefcef2-f3b7-4af3-bc6c-6733b7e7eaae");
    background-repeat: no-repeat;
    background-attachment: fixed;

    
    
}