<div class="card">
    <div class="card-header" style="text-align:center;">HISTORIAL DE COMPRAS</div>
 
    <div class="card-body">
        <p class="mb-0">
           Aqui podra consultar todas las compras realizadas
        </p>
    </div><hr>
 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>FECHA</th>
                
            </tr>
        </thead>
 
        <tbody>
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>30$$</td>
                <td>14/10/2018</td>
            </tr>
 
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>40$$</td>
                <td>14/10/2018</td>
            </tr>
 
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>20$</td>
                <td>01/05/2018</td>
            </tr>
            <tr>
                <td><img src="assets/Img/pizza.jpg"></td>
                <td>15$$</td>
                <td>03/07/2018</td>
            </tr>
        </tbody>
    </table>
 
    <div class="card-footer">
        
    </div>
</div>